@model SRVCAplicacion.Models.Usuario;


<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Registro</title>

            
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SRVCAplicacion.styles.css" asp-append-version="true" />
</head>

    <body>


     @*    <div class="row">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword">
            </div>
        </div>
        </div> *@

        <form asp-controller="Login" asp-action="Registro" method="post">
        <input class="form-control mb-3" type="text" placeholder="Nombre" required  asp-for="Email"/>
        <input class="form-control mb-3" type="text" placeholder="Identificacion" required asp-for="Id" />
        <input class="form-control mb-3" type="text" placeholder="Tipo" required asp-for="Id" />
        <input class="form-control mb-3" type="text" placeholder="Usuario" required asp-for="usuario" />
        <input class="form-control mb-3" type="text" placeholder="Contraseña" required asp-for="Password" />
        <input class="form-control mb-3" type="text" placeholder="Confirmar Contraseña" required asp-for="CofirmarPass" />
        <div class="d-grip gap-2 mb-3">
            <button class="btn btn-primary" type="submit">Registrarse</button>
        </div>

        @if (ViewData["Mensaje"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["Mensaje"]
            </div>
        }
        Iniciar Sesion <a asp-controller="Login" asp-action="Login">Click</a>
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-ver   sion="true"></script>
    </body>
</html>