@model SRCVShared.Models.log_aud
@{
    Layout = "_Layout"; // Usando el layout definido
}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ListaUsuarios</title>

    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/c84f14ebb2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/styles.css">

</head>
<body id="page-top">
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Editar o Eliminar</h1>
                    </div>

                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Inquilinos / Visitantes</h6>
                                <button class="btn btn-primary btn-sm mr-2" data-toggle="modal" data-target="#editIoV">Editar</button>
                                <button class="btn btn-primary btn-sm mr-2" data-toggle="modal" data-target="#edit2">Eliminar</button>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <table id="tablaEdit" class="display table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="editIoV" tabindex="-1" role="dialog" aria-labelledby="editModall" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModall">EDITAR</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form id="formularioCrearRegistro">
                                        <div class="form-group">
                                            <label for="inputDNIi">Ingrese el DNI</label>
                                            <input type="text" class="form-control" id="inputEditarxDNI" placeholder="">
                                            <button type="button" id="bEditarxDNI" onclick="editarxDNI()">Buscar</button>
                                            <div id="toast"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputIDeditar">ID</label>
                                            <td id="tdIdInquilinoEdit"></td>
                                            <input type="text" class="form-control" id="inputIdxEditar" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputNombreeditar">Nombre</label>
                                            <td id="tdNombreEdit"></td>
                                            <input type="text" class="form-control" id="inputNombrexEditar" data-field="nombreeditado"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputApellidoeditar">Apellido</label>
                                            <td id="tdApellidoEdit"></td>
                                            <input type="text" class="form-control" id="inputApellidoxEditar" data-field="Apellidoeditado" />
                                        </div>
                                        <div class="form-group">
                                            <label for="inputTelefonoeditar">Telefono</label>
                                            <td id="tdTelefonoEdit"></td>
                                            <input type="text" class="form-control" id="inputTelefonoxEditar" data-field="Telefonoeditado" />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" onclick="actualizarDatos()" class="btn btn-primary" id="botonGuardarEdicion">Guardar Cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="edit2" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Ingrese los datos de la nueva visita</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formCrearVisitante" action="guardar_institucion.php" method="POST">
                                        <div class="form-group">
                                            <label for="inputNombre">Nombre</label>
                                            <input type="text" class="form-control" id="inputNombreNV" name="nombreNV" placeholder="Nombre" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputApellido">Apellido</label>
                                            <input type="text" class="form-control" id="inputApellidoNV" name="apellidoNV" placeholder="Apellido" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDNI">DNI</label>
                                            <input type="text" class="form-control" id="inputDNINV" name="dniNV" placeholder="DNI" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputParentesco">Telefono</label>
                                            <input type="text" class="form-control" id="inputTelefonoNV" name="telefonoNV" placeholder="Telefono" required>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" id="crearNuevoVisitante" onclick="CrearVisitante()">Crear</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>

                    <!-- Bootstrap core JavaScript-->
                    <script src="~/jquery/jquery.min.js" asp-append-version="true"></script>
                    <script src="~/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

                    <!-- Core plugin JavaScript-->
                    <script src="~/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>
                    <script src="~/jsc/index.js"></script>
                    <!-- Custom scripts for all pages-->
                    <script src="~/jsc/sb-admin-2.min.js" asp-append-version="true"></script>

                    <script src="~/jsc/datatables.min.js" asp-append-version="true"></script>

                    <!-- Page level plugins -->
                    <script src="~/chart.js/Chart.min.js" asp-append-version="true"></script>

                    <!-- Page level custom scripts -->
                    <script src="~/jsc/demo/chart-area-demo.js" asp-append-version="true"></script>
                    <script src="~/jsc/demo/chart-pie-demo.js" asp-append-version="true"></script>

                    <script src="/jsc/edit.js" asp-append-version="true"></script>
                    
                </div>
            </div>
        </div>
    </div>
</body>


</html>
