@{
    Layout = "_Layout"; // Usando el layout definido
}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visitas</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/c84f14ebb2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"></h1>



                    </div>


                    <!-- INICIO Formulario para agregar usuarios -->
                        <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4" >
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3" >
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary btn-sm mr-2" data-toggle="modal" data-target="#editModal">Ingreso</button>
                                    <button class="btn btn-primary btn-sm mr-2" data-toggle="modal" data-target="#edit2">Crear nuevo visitante</button>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <table id="tablaVisitas" class="display">
                                        <thead>
                                                <!-- <tr>
                                                <th>DNI</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Motivo</th>
                                                <th>Departamento</th>
                                                <th>Activo</th> 
                                            </tr> -->
                                        </thead>
                                        <tbody>
                                            <!-- Los datos se llenarán mediante JavaScript -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Ingreso</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form id="formularioCrearRegistro">
                                        <div class="form-group">
                                            <label for="inputDNIi">DNI</label>
                                            <input type="text" class="form-control" id="inputDNIingreso" placeholder="">
                                <button type="button" id="bBuscarPorDNI" onclick="BuscarPorDNI()">Buscar</button>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputNombreI">Id del inquilino</label>
                                            <td id="tdIdInquilinoIngreso"></td>
                                            <input type="text" class="form-control" id="inputIdInquilinoIngreso" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputNombreI">Nombre</label>
                                            <td id="tdNombreIngreso"></td>
                                            <input type="text" class="form-control" id="inputNombreIngreso"  readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputApellidoI">Apellido</label>
                                            <td id="tdApellidoIngreso"></td>
                                            <input type="text" class="form-control" id="inputApellidoIngreso" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputMotivoI">Motivo</label>
                                                <!--  <select name="cars" id="selectMotivo">
                                                <option value="visita">Visitas</option>
                                                <option value="casa">Casa</option>
                                                <option value="trabajo">Trabajos</option>
                                                <option value="delivery">Delivery</option>
                                                </select>-->
                                            <input type="text" class="form-control" id="inputMotivoIngreso" placeholder="Visita/Casa/Trabajo/Delivery">
                                            <div class="form-group">
                                                <label for="motivo">Motivo personalizado:</label>
                                                <textarea id="motivoPersonalizado" name="motivo" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSector">A donde se dirige</label>
                                            <input type="text" class="form-control" id="inputSectorDepto" placeholder="sector/depto">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSector">Nombre punto de control</label>
                                            <input type="text" class="form-control" id="inputNombrePControl" placeholder="flores 247">
                                        </div>
                                        <!-- Agregar más campos según sea necesario -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" onclick="guardarRegistro()" class="btn btn-primary" id="botonGuardarRegistro">Guardar registro</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="edit2" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Ingrese los datos de la nueva visita</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formCrearVisitante" action="guardar_institucion.php" method="POST">
                                        <div class="form-group">
                                            <label for="inputNombre">Nombre</label>
                                            <input type="text" class="form-control" id="inputNombreNV" name="nombreNV" placeholder="Nombre" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputApellido">Apellido</label>
                                            <input type="text" class="form-control" id="inputApellidoNV" name="apellidoNV" placeholder="Apellido" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDNI">DNI</label>
                                            <input type="text" class="form-control" id="inputDNINV" name="dniNV" placeholder="DNI" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputParentesco">Telefono</label>
                                            <input type="text" class="form-control" id="inputTelefonoNV" name="telefonoNV" placeholder="Telefono" required>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" id="crearNuevoVisitante" onclick="CrearVisitante()">Crear</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Scroll to Top Button-->
                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>

                    <!-- Logout Modal-->
                    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-primary" href="login.html">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Bootstrap core JavaScript-->
                    <script src="~/jquery/jquery.min.js"></script>
                    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
                    <script src="~/jsc/datatables.min.js"></script>
                    <script src="js/vista.js"></script>
                    <!-- Core plugin JavaScript-->
                    <script src="~/jquery-easing/jquery.easing.min.js"></script>

                    <!-- Custom scripts for all pages-->
                    <script src="~/jsc/sb-admin-2.min.js"></script>


                    <!-- Page level plugins -->
                    <script src="~/chart.js/Chart.min.js"></script>

                    <!-- Page level custom scripts -->
                    <script src="~/jsc/demo/chart-area-demo.js"></script>
                    <script src="~/jsc/demo/chart-pie-demo.js"></script>
                    <script src="~/jsc/vistas.js"></script>
                    <script src="~/jsc/inquilinico.js"></script>

</body>
 @* <script>
    $('#guardarCambios').click(function() {
        var formData = $('#formInstitucion').serialize(); // Recoger los datos del formulario

        $.ajax({
            url: 'guardar_institucion.php',
            type: 'POST',
            data: formData,
            success: function(response) {
                var result = JSON.parse(response);
                alert(result.message); // Mostrar un mensaje de éxito o error

                // Reiniciar el formulario
                $('#formInstitucion')[0].reset();

                // Cerrar el modal
                $('#edit2').modal('hide');
            },
            error: function() {
                alert('Error al guardar la institución.');
            }
        });
    });
    $(document).ready(function() {
        // Cargar los datos en el DataTable
        $('#tablaInstituciones').DataTable({
            ajax: {
                url: 'obtener_instituciones.php', // URL del archivo PHP
                dataSrc: ''
            },
            columns: [
                { data: 'id' },
                { data: 'dni' },
                { data: 'nombre' },
                { data: 'apellido' },
                { data: 'parentesco' },
                {
                    data: null,
                    render: function(data, type, row) {
                        return `<button class="btn btn-danger" onclick="eliminarInstitucion(${row.id})">Eliminar</button>`;
                    }
                }
            ]
        });
    });

    // Función para eliminar institución
    function eliminarInstitucion(id) {
        if (confirm("¿Estás seguro de que deseas eliminar esta institución?")) {
            $.ajax({
                url: 'eliminar_institucion.php', // Archivo para manejar la eliminación
                type: 'POST',
                data: { id: id },
                success: function(response) {
                    alert('Institución eliminada correctamente.');
                    $('#tablaInstituciones').DataTable().ajax.reload(); // Recargar la tabla
                },
                error: function() {
                    alert('Error al eliminar la institución.');
                }
            });
        }
    }
</script>  *@
</html>
