﻿@{
    Layout = "_Layout"; // Usando el layout definido
}﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agregar Registros</title>

    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/c84f14ebb2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body>
    @{
        ViewData["Tittle"] = "Ingresar Registros";
    }

    <div class="container">
        <div class="header">
            <label for="identificacion">IDENTIFICACION</label>
            <select id="identificacion" placeholder="Seleccione identificación">
                <option value="" selected disabled>Seleccione identificación</option>
            </select>
        </div>

        <div class="main">
            <div class="left-panel">
                <textarea id="info_area" rows="12" cols="30" placeholder="Información del visitante..."></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="motivo">Motivo*</label>
            <select id="motivo" placeholder="Seleccione Motivo">
                <option value="" selected disabled>Seleccione motivo</option>
                <!-- Aquí se cargarán los motivos dinámicamente -->
            </select>
        </div>

        <div class="form-group">
            <label for="depto_visita">Departamento*</label>
            <select id="depto_visita" placeholder="Seleccione Departamento">
                <option value="" selected disabled>Seleccione Departamento</option>
                <!-- Aquí se cargarán los departamentos dinámicamente -->
            </select>
        </div>

        <div class="footer">
            <button id="guardar">Guardar</button>
        </div>
    </div>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/jsc/index.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/jsc/sb-admin-2.min.js"></script>


    <script src="~/jsc/datatables.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/jsc/demo/chart-area-demo.js"></script>
    <script src="~/jsc/demo/chart-pie-demo.js"></script>
    <script src="~/jsc/identifacion.js"></script>

    
</body>
</html>