body {
}

/* Hacer que el div se estire automáticamente con el contenido */
.card-body {
    min-height: 400px; /* Altura mínima para el cuerpo de la tarjeta */
    max-height: 80vh; /* Establecer una altura máxima relativa al tamaño de la ventana */
    overflow-y: auto; /* Habilitar scroll vertical si el contenido es más largo */
}

/* Hacer que la tabla ocupe el 100% del ancho disponible */
#tablaLogAud {
    width: 100%;
    max-height: 400px; /* Limitar la altura máxima si deseas que la tabla se quede dentro de un área específica */
    overflow-y: auto;
    /*display: block;  Permitir el scroll si el contenido es largo */
}

#tablaHistorialRegistrosIN {
    width: 100%;
    max-height: 400px; /* Limitar la altura máxima si deseas que la tabla se quede dentro de un área específica */
    overflow-y: auto;
    /*display: block;  Permitir el scroll si el contenido es largo */
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

    #toast.show {
        visibility: visible;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
