<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SRVCAplicacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/registro.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SRVCAplicacion.styles.css" asp-append-version="true" />
</head>


<body>
    @{
        ViewData["Tittle"] = "Ingresar Registros";
    }

    <div class="container">
        <div class="header">
            <label for="identificacion">IDENTIFICACION</label>
            <select id="identificacion" placeholder="Seleccione identificación">
                <option value="" selected disabled>Seleccione identificación</option>
            </select>
        </div>

        <div class="main">
            <div class="left-panel">
                <textarea id="info_area" rows="12" cols="30" placeholder="Información del visitante..."></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="motivo">Motivo*</label>
            <select id="motivo" placeholder="Seleccione Motivo">
                <option value="" selected disabled>Seleccione motivo</option>
                <!-- Aquí se cargarán los motivos dinámicamente -->
            </select>
        </div>

        <div class="form-group">
            <label for="depto_visita">Departamento*</label>
            <select id="depto_visita" placeholder="Seleccione Departamento">
                <option value="" selected disabled>Seleccione Departamento</option>
                <!-- Aquí se cargarán los departamentos dinámicamente -->
            </select>
        </div>

        <div class="footer">
            <button id="guardar">Guardar</button>
        </div>
    </div>

    <script src="~/jsc/identifacion.js"></script>

    
</body>
</html>