@{
    Layout = "_Layout"; // Usando el layout definido
}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ListaUsuarios</title>

    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/c84f14ebb2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="~/jsc/usuario.js"></script>

</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

       
        <div class="container">

            <!-- Page Heading -->
            <!-- Content Row -->
            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Log_aud</h1>
                    </div>


                    <!-- INIC   IO Formulario para agregar usuarios -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Cambios</h6>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <table id="logTable" class="display" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ID_log_aud</th>
                                                <th>ID_Usuario</th>
                                                <th>Accion</th>
                                                <th>Hora</th>
                                                <th>Valor Original</th>
                                                <th>Nuevo Valor</th>
                                                <th>Id punto de control</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>


                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>

                    <!-- Logout Modal-->
                   @*  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">¿Listo para partir?</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                    <a class="btn btn-primary" href="@Url.Action("Salir", "Home")">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div> *@

                    <!-- Bootstrap core JavaScript-->
                    <script src="~/jquery/jquery.min.js"></script>
                    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>

                    <!-- Core plugin JavaScript-->
                    <script src="~/jquery-easing/jquery.easing.min.js"></script>
                    <script src="~/jsc/index.js"></script>
                    <!-- Custom scripts for all pages-->
                    <script src="~/jsc/sb-admin-2.min.js"></script>


                    <script src="~/jsc/datatables.min.js"></script>

                    <!-- Page level plugins -->
                    <script src="~/chart.js/Chart.min.js"></script>

                    <!-- Page level custom scripts -->
                    <script src="~/jsc/demo/chart-area-demo.js"></script>
                    <script src="~/jsc/demo/chart-pie-demo.js"></script>

                    <!-- <script src="~/jsc/usuario.js"></script>-->

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {

                            mostrarLog();
                        });
                    </script>
                    


</body>

</html>
